@import './styleconfig.scss';

.github-app {

  .page-wrapper {
    padding: 0 1.5rem;

    .page-header {
      text-align: center;
      border-bottom: 1px solid $theme-border;
      background-color: $theme-bg-alt;
      padding: 2.5rem 0;
      margin: 0 -1.5rem;

      h1 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
      }

      p {
        color: $theme-text-alt;
        margin-top: 0.5rem;
      }
    }

    .content-wrap {
      max-width: 980px;
      margin: 2.5rem auto;
      border: 1px solid $theme-border;
      border-radius: 6px;

      .filters-wrap {
        background-color: $theme-bg-alt;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid $theme-border;
        border-radius: 6px 6px 0 0;
        flex-wrap: wrap;

        .tabs-wrap {
          display: flex;

          .tab {
            padding: 0.4rem 1rem;
            background-color: $theme-bg-default;
            border: 1px solid $theme-border;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;

            &.active {
              color: #f0f6fc;
              border: 1px solid #1f6feb;
              background-color: #1f6feb;
            }

            &:first-child {
              border-radius: 6px 0 0 6px;            
            }

            &:last-child {
              border-radius: 0 6px 6px 0;
            }
          }
        }

        .dd-filters {
          display: flex;
          font-size: 0.875rem;
          flex-wrap: wrap;

          .single-filter {
            display: flex;
            padding: 0 1rem;
            color: $theme-text-alt;
            cursor: pointer;

            &:hover {
              color: $theme-text-default;
            }

            .filter-action {
              font-weight: 600;
              padding: 0 0.25rem;

              &::after {
                display: inline-block;
                width: 0;
                height: 0;
                vertical-align: -2px;
                content: "";
                border: 4px solid;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: transparent;
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }
}